<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>934</integer>
    <key>copyright</key>
    <string>Copyright (c) 2014 by Maximiliano R. Sproviero. All rights reserved.</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Model Small Standard One</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2015/02/09 16:50:11</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>3</integer>
    <key>openTypeHheaAscender</key>
    <integer>750</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Copyright (c) 2014 by . All rights reserved.</string>
    <key>openTypeNameManufacturer</key>
    <string>Maximiliano R. Sproviero</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Model Small Standard One</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameRecords</key>
    <array>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Copyright (c) 2014 by Maximiliano R. Sproviero. All rights reserved.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Copyright (c) 2014 by Maximiliano R. Sproviero. All rights reserved.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Model Small Standard One</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Model Small Standard One</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>FONTLAB:OTFEXPORT</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>FONTLAB:OTFEXPORT</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Model Small Standard One</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>ModelSmallStandardOne</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>1.000</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>1.000</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>ModelSmallStandardOne</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>ModelSmallStandardOne</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Model Small Standard One is a trademark of Maximiliano R. Sproviero.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Model Small Standard One is a trademark of Maximiliano R. Sproviero.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Maximiliano R. Sproviero</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Maximiliano R. Sproviero</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Copyright (c) 2014 by . All rights reserved.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Copyright (c) 2014 by . All rights reserved.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>16</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Model Small Standard One</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>17</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
    </array>
    <key>openTypeNameUniqueID</key>
    <string>FONTLAB:OTFEXPORT</string>
    <key>openTypeNameVersion</key>
    <string>1.000</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>4</integer>
      <integer>7</integer>
      <integer>8</integer>
      <integer>29</integer>
      <integer>56</integer>
      <integer>58</integer>
      <integer>59</integer>
      <integer>62</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array/>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>250</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>140</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>477</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>31</integer>
      <integer>33</integer>
      <integer>35</integer>
      <integer>38</integer>
      <integer>62</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>PYRS</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1250</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>581</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>565</integer>
      <integer>565</integer>
    </array>
    <key>postscriptDefaultWidthX</key>
    <integer>833</integer>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>ModelSmallStandardOne</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>Model Small Standard One</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-75</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Roman</string>
    <key>styleMapFamilyName</key>
    <string>Model Small Standard One</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Model Small Standard One is a trademark of Maximiliano R. Sproviero.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>501</integer>
  </dict>
</plist>
