<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typemytype.robofont.binarySource</key>
    <string>/Users/pichotta/TypeFounders-Dev/SprovieroType-Dev/HeroeUpdate-Dev/backup/140424 Retail/Heroe Pro.otf</string>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>4595317136</string>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>n</string>
      <string>r</string>
      <string>m</string>
      <string>i</string>
      <string>h</string>
      <string>h.1</string>
      <string>c</string>
      <string>l</string>
      <string>space</string>
      <string>exclam</string>
      <string>D.001</string>
      <string>D</string>
      <string>g</string>
      <string>n.9</string>
      <string>orn.1</string>
      <string>l.1</string>
      <string>A</string>
      <string>d</string>
      <string>z</string>
      <string>R</string>
      <string>u</string>
      <string>l.9</string>
      <string>P</string>
      <string>H</string>
      <string>s</string>
      <string>t</string>
      <string>v.1</string>
      <string>o</string>
      <string>o.1</string>
      <string>e</string>
      <string>r.1</string>
      <string>i.1</string>
      <string>s.1</string>
      <string>a.9</string>
      <string>a.99</string>
      <string>l.67</string>
      <string>H.1</string>
      <string>e.9</string>
      <string>E</string>
      <string>F</string>
      <string>dotlessi</string>
      <string>A.1</string>
      <string>C</string>
      <string>w.1</string>
      <string>w</string>
      <string>y</string>
      <string>period</string>
      <string>Q</string>
      <string>T</string>
      <string>p</string>
      <string>N</string>
      <string>v.antes</string>
      <string>v</string>
      <string>b</string>
      <string>B</string>
      <string>L</string>
      <string>k</string>
      <string>M</string>
      <string>M.tranqui</string>
      <string>q</string>
      <string>j</string>
      <string>n.5</string>
      <string>a.5</string>
      <string>d.5</string>
      <string>h.5</string>
      <string>i.5</string>
      <string>l.5</string>
      <string>m.5</string>
      <string>o.5</string>
      <string>t.5</string>
      <string>u.5</string>
      <string>f</string>
      <string>f.1</string>
      <string>H_e_r.1_o_e.9</string>
      <string>H_e_r.1_o_e.911</string>
      <string>G</string>
      <string>O</string>
      <string>Q.1</string>
      <string>V</string>
      <string>K</string>
      <string>J</string>
      <string>S</string>
      <string>s_t</string>
      <string>x</string>
      <string>b.9</string>
      <string>c.9</string>
      <string>d.9</string>
      <string>f_f</string>
      <string>f.9</string>
      <string>g.9</string>
      <string>h.9</string>
      <string>i.9</string>
      <string>j.9</string>
      <string>k.9</string>
      <string>m.9</string>
      <string>o.9</string>
      <string>p.9</string>
      <string>q.9</string>
      <string>r.9</string>
      <string>s.9</string>
      <string>t.9</string>
      <string>u.9</string>
      <string>v.9</string>
      <string>w.9</string>
      <string>x.9</string>
      <string>y.9</string>
      <string>z.9</string>
      <string>acute</string>
      <string>eacute</string>
      <string>oacute</string>
      <string>uacute</string>
      <string>yacute</string>
      <string>Aacute</string>
      <string>Eacute</string>
      <string>Oacute</string>
      <string>iacute</string>
      <string>u.6</string>
      <string>n.6</string>
      <string>m.6</string>
      <string>a.6</string>
      <string>g.1</string>
      <string>d.6</string>
      <string>h.6</string>
      <string>l.6</string>
      <string>t.6</string>
      <string>udieresis</string>
      <string>dieresis</string>
      <string>Adieresis</string>
      <string>Edieresis</string>
      <string>Odieresis</string>
      <string>edieresis</string>
      <string>odieresis</string>
      <string>ydieresis</string>
      <string>idieresis</string>
      <string>exclamdown</string>
      <string>grave</string>
      <string>ograve</string>
      <string>Agrave</string>
      <string>Egrave</string>
      <string>Ograve</string>
      <string>egrave</string>
      <string>igrave</string>
      <string>ugrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Ydieresis</string>
      <string>U</string>
      <string>W</string>
      <string>I</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Idieresis</string>
      <string>Z</string>
      <string>ntilde</string>
      <string>tilde</string>
      <string>otilde</string>
      <string>Atilde</string>
      <string>Ntilde</string>
      <string>Otilde</string>
      <string>thorn</string>
      <string>circumflex</string>
      <string>ecircumflex</string>
      <string>icircumflex</string>
      <string>ocircumflex</string>
      <string>ucircumflex</string>
      <string>Acircumflex</string>
      <string>Ecircumflex</string>
      <string>Icircumflex</string>
      <string>Ocircumflex</string>
      <string>oslash</string>
      <string>florin</string>
      <string>Thorn</string>
      <string>Ucircumflex</string>
      <string>caron</string>
      <string>Scaron</string>
      <string>S_i_g_m_u_n_d</string>
      <string>W_a_t_e_r_p_o_l_o</string>
      <string>A.001</string>
      <string>B.001</string>
      <string>C.001</string>
      <string>D.002</string>
      <string>E.001</string>
      <string>F.001</string>
      <string>G.001</string>
      <string>H.001</string>
      <string>I.001</string>
      <string>J.001</string>
      <string>K.001</string>
      <string>L.001</string>
      <string>M.001</string>
      <string>N.001</string>
      <string>O.001</string>
      <string>P.001</string>
      <string>Q.001</string>
      <string>R.001</string>
      <string>S.001</string>
      <string>T.001</string>
      <string>U.001</string>
      <string>V.001</string>
      <string>W.001</string>
      <string>X.001</string>
      <string>Y.001</string>
      <string>Z.001</string>
      <string>a.1</string>
      <string>Eth</string>
      <string>ccedilla</string>
      <string>cedilla</string>
      <string>Ccedilla</string>
      <string>AE</string>
      <string>OE</string>
      <string>K.tranqui</string>
      <string>R.tranqui</string>
      <string>Q.tranqui</string>
      <string>k.1</string>
      <string>k.2</string>
      <string>b.1</string>
      <string>y.short</string>
      <string>p.short</string>
      <string>j.short</string>
      <string>g.short</string>
      <string>f.short</string>
      <string>h.1.short</string>
      <string>k.2.short</string>
      <string>l.1.short</string>
      <string>f_l</string>
      <string>a_b_c_d_e_f_g_h_i_j_k</string>
      <string>l_m_n_o_p_q_r_s_t_u</string>
      <string>v_w_x_y_z</string>
      <string>oe</string>
      <string>quotesingle</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>comma</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>zero</string>
      <string>five</string>
      <string>seven</string>
      <string>six</string>
      <string>nine</string>
      <string>ring</string>
      <string>Aring</string>
      <string>ae</string>
      <string>question</string>
      <string>fi</string>
      <string>fl</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quoteright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>eight</string>
      <string>scaron</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>dotaccent</string>
      <string>germandbls</string>
      <string>eth</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>questiondown</string>
      <string>Oslash</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bar</string>
      <string>breve</string>
      <string>zcaron</string>
      <string>Zcaron</string>
      <string>ellipsis</string>
      <string>at</string>
      <string>dollar</string>
      <string>Euro</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>slash</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>onesuperior</string>
      <string>threequarters</string>
      <string>twosuperior</string>
      <string>mu</string>
      <string>threesuperior</string>
      <string>minus</string>
      <string>percent</string>
      <string>sterling</string>
      <string>quotedbl</string>
      <string>fleuron.2.002</string>
      <string>fleuron.1</string>
      <string>fleuron.2</string>
      <string>fleuron.4</string>
      <string>fleuron.3</string>
      <string>multiply</string>
      <string>trademark</string>
      <string>currency</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>plusminus</string>
      <string>paragraph</string>
      <string>yen</string>
      <string>perthousand</string>
      <string>ampersand</string>
      <string>b.3</string>
      <string>g.3</string>
      <string>f.3</string>
      <string>h.3</string>
      <string>p.3</string>
      <string>y.3</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>divide</string>
      <string>numbersign</string>
      <string>asterisk</string>
      <string>cent</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>plus</string>
      <string>equal</string>
      <string>underscore</string>
      <string>ogonek</string>
      <string>brokenbar</string>
      <string>backslash</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>less</string>
      <string>greater</string>
      <string>asciicircum</string>
      <string>logicalnot</string>
      <string>ordmasculine</string>
      <string>ordfeminine</string>
      <string>Eogonek</string>
      <string>Aogonek</string>
      <string>macron</string>
      <string>Amacron</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>dcroat</string>
      <string>Zacute</string>
      <string>Sacute</string>
      <string>Tcaron</string>
      <string>sacute</string>
      <string>zacute</string>
      <string>Ecaron</string>
      <string>Dcaron</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Dcroat</string>
      <string>Rcaron</string>
      <string>racute</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ecaron</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>rcaron</string>
      <string>Lacute</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Abreve</string>
      <string>Racute</string>
      <string>Lcaron</string>
      <string>zdotaccent</string>
      <string>Zdotaccent</string>
      <string>Tcommaaccent</string>
      <string>tcommaaccent</string>
      <string>scommaaccent</string>
      <string>Scommaaccent</string>
      <string>acutecomb</string>
      <string>dotbelowcomb</string>
      <string>Ohorn</string>
      <string>Uhorn</string>
      <string>ohorn</string>
      <string>uhorn</string>
      <string>dong</string>
      <string>uni00AD</string>
      <string>tildecomb</string>
      <string>gcommaaccent</string>
      <string>edotaccent</string>
      <string>imacron</string>
      <string>Emacron</string>
      <string>uogonek</string>
      <string>umacron</string>
      <string>omacron</string>
      <string>Iogonek</string>
      <string>Edotaccent</string>
      <string>iogonek</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Omacron</string>
      <string>Imacron</string>
      <string>ncommaaccent</string>
      <string>lcommaaccent</string>
      <string>kcommaaccent</string>
      <string>rcommaaccent</string>
      <string>Ncommaaccent</string>
      <string>Kcommaaccent</string>
      <string>Gcommaaccent</string>
      <string>Lcommaaccent</string>
      <string>Rcommaaccent</string>
      <string>lacute</string>
      <string>Uring</string>
      <string>uring</string>
      <string>tcaron</string>
      <string>lcaron</string>
      <string>dcaron</string>
      <string>hungarumlaut</string>
      <string>ohungarumlaut</string>
      <string>uhungarumlaut</string>
      <string>Ohungarumlaut</string>
      <string>Uhungarumlaut</string>
      <string>degree</string>
      <string>asciitilde</string>
      <string>Idotaccent</string>
      <string>Scedilla</string>
      <string>Gbreve</string>
      <string>gbreve</string>
      <string>scedilla</string>
      <string>e_s</string>
      <string>e_s_t</string>
      <string>a_romana</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>abreve</string>
      <string>adieresis</string>
      <string>a.55</string>
      <string>a.66</string>
      <string>a.999</string>
      <string>a.9999</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
  </dict>
</plist>
