<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.001</key>
    <string>A_.001.glif</string>
    <key>A.1</key>
    <string>A_.1.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.001</key>
    <string>B_.001.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.001</key>
    <string>C_.001.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.001</key>
    <string>D_.001.glif</string>
    <key>D.002</key>
    <string>D_.002.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.001</key>
    <string>E_.001.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.001</key>
    <string>F_.001.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.001</key>
    <string>G_.001.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.001</key>
    <string>H_.001.glif</string>
    <key>H.1</key>
    <string>H_.1.glif</string>
    <key>H_e_r.1_o_e.9</key>
    <string>H__e_r.1_o_e.9.glif</string>
    <key>H_e_r.1_o_e.911</key>
    <string>H__e_r.1_o_e.911.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.001</key>
    <string>I_.001.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.001</key>
    <string>J_.001.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.001</key>
    <string>K_.001.glif</string>
    <key>K.tranqui</key>
    <string>K_.tranqui.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.001</key>
    <string>L_.001.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.001</key>
    <string>M_.001.glif</string>
    <key>M.tranqui</key>
    <string>M_.tranqui.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.001</key>
    <string>N_.001.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.001</key>
    <string>O_.001.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.001</key>
    <string>P_.001.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.001</key>
    <string>Q_.001.glif</string>
    <key>Q.1</key>
    <string>Q_.1.glif</string>
    <key>Q.tranqui</key>
    <string>Q_.tranqui.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.001</key>
    <string>R_.001.glif</string>
    <key>R.tranqui</key>
    <string>R_.tranqui.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.001</key>
    <string>S_.001.glif</string>
    <key>S_i_g_m_u_n_d</key>
    <string>S__i_g_m_u_n_d.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.001</key>
    <string>T_.001.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.001</key>
    <string>U_.001.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.001</key>
    <string>V_.001.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.001</key>
    <string>W_.001.glif</string>
    <key>W_a_t_e_r_p_o_l_o</key>
    <string>W__a_t_e_r_p_o_l_o.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.001</key>
    <string>X_.001.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.001</key>
    <string>Y_.001.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.001</key>
    <string>Z_.001.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.1</key>
    <string>a.1.glif</string>
    <key>a.5</key>
    <string>a.5.glif</string>
    <key>a.55</key>
    <string>a.55.glif</string>
    <key>a.6</key>
    <string>a.6.glif</string>
    <key>a.66</key>
    <string>a.66.glif</string>
    <key>a.9</key>
    <string>a.9.glif</string>
    <key>a.99</key>
    <string>a.99.glif</string>
    <key>a.999</key>
    <string>a.999.glif</string>
    <key>a.9999</key>
    <string>a.9999.glif</string>
    <key>a_b_c_d_e_f_g_h_i_j_k</key>
    <string>a_b_c_d_e_f_g_h_i_j_k.glif</string>
    <key>a_romana</key>
    <string>a_romana.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.1</key>
    <string>b.1.glif</string>
    <key>b.3</key>
    <string>b.3.glif</string>
    <key>b.9</key>
    <string>b.9.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.9</key>
    <string>c.9.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.5</key>
    <string>d.5.glif</string>
    <key>d.6</key>
    <string>d.6.glif</string>
    <key>d.9</key>
    <string>d.9.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.9</key>
    <string>e.9.glif</string>
    <key>e_s</key>
    <string>e_s.glif</string>
    <key>e_s_t</key>
    <string>e_s_t.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.1</key>
    <string>f.1.glif</string>
    <key>f.3</key>
    <string>f.3.glif</string>
    <key>f.9</key>
    <string>f.9.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>fleuron.1</key>
    <string>fleuron.1.glif</string>
    <key>fleuron.2</key>
    <string>fleuron.2.glif</string>
    <key>fleuron.2.002</key>
    <string>fleuron.2.002.glif</string>
    <key>fleuron.3</key>
    <string>fleuron.3.glif</string>
    <key>fleuron.4</key>
    <string>fleuron.4.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.1</key>
    <string>g.1.glif</string>
    <key>g.3</key>
    <string>g.3.glif</string>
    <key>g.9</key>
    <string>g.9.glif</string>
    <key>g.short</key>
    <string>g.short.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.1</key>
    <string>h.1.glif</string>
    <key>h.1.short</key>
    <string>h.1.short.glif</string>
    <key>h.3</key>
    <string>h.3.glif</string>
    <key>h.5</key>
    <string>h.5.glif</string>
    <key>h.6</key>
    <string>h.6.glif</string>
    <key>h.9</key>
    <string>h.9.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.1</key>
    <string>i.1.glif</string>
    <key>i.5</key>
    <string>i.5.glif</string>
    <key>i.9</key>
    <string>i.9.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.9</key>
    <string>j.9.glif</string>
    <key>j.short</key>
    <string>j.short.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.1</key>
    <string>k.1.glif</string>
    <key>k.2</key>
    <string>k.2.glif</string>
    <key>k.2.short</key>
    <string>k.2.short.glif</string>
    <key>k.9</key>
    <string>k.9.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.1</key>
    <string>l.1.glif</string>
    <key>l.1.short</key>
    <string>l.1.short.glif</string>
    <key>l.5</key>
    <string>l.5.glif</string>
    <key>l.6</key>
    <string>l.6.glif</string>
    <key>l.67</key>
    <string>l.67.glif</string>
    <key>l.9</key>
    <string>l.9.glif</string>
    <key>l_m_n_o_p_q_r_s_t_u</key>
    <string>l_m_n_o_p_q_r_s_t_u.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.5</key>
    <string>m.5.glif</string>
    <key>m.6</key>
    <string>m.6.glif</string>
    <key>m.9</key>
    <string>m.9.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.5</key>
    <string>n.5.glif</string>
    <key>n.6</key>
    <string>n.6.glif</string>
    <key>n.9</key>
    <string>n.9.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.1</key>
    <string>o.1.glif</string>
    <key>o.5</key>
    <string>o.5.glif</string>
    <key>o.9</key>
    <string>o.9.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>orn.1</key>
    <string>orn.1.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.3</key>
    <string>p.3.glif</string>
    <key>p.9</key>
    <string>p.9.glif</string>
    <key>p.short</key>
    <string>p.short.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.9</key>
    <string>q.9.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.1</key>
    <string>r.1.glif</string>
    <key>r.9</key>
    <string>r.9.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.1</key>
    <string>s.1.glif</string>
    <key>s.9</key>
    <string>s.9.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.5</key>
    <string>t.5.glif</string>
    <key>t.6</key>
    <string>t.6.glif</string>
    <key>t.9</key>
    <string>t.9.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.5</key>
    <string>u.5.glif</string>
    <key>u.6</key>
    <string>u.6.glif</string>
    <key>u.9</key>
    <string>u.9.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.1</key>
    <string>v.1.glif</string>
    <key>v.9</key>
    <string>v.9.glif</string>
    <key>v.antes</key>
    <string>v.antes.glif</string>
    <key>v_w_x_y_z</key>
    <string>v_w_x_y_z.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.1</key>
    <string>w.1.glif</string>
    <key>w.9</key>
    <string>w.9.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.9</key>
    <string>x.9.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.3</key>
    <string>y.3.glif</string>
    <key>y.9</key>
    <string>y.9.glif</string>
    <key>y.short</key>
    <string>y.short.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.9</key>
    <string>z.9.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
