<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.oporder</key>
	<array>
		<string>b</string>
		<string>b.1</string>
		<string>o</string>
		<string>o.5</string>
		<string>p</string>
		<string>p.short</string>
		<string>p.3</string>
		<string>oacute</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>thorn</string>
		<string>ocircumflex</string>
		<string>oslash</string>
		<string>eth</string>
		<string>ohorn</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>s.ss06</string>
		<string>scaron</string>
		<string>germandbls</string>
		<string>sacute</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
	</array>
	<key>public.kern2.hporizq</key>
	<array>
		<string>h</string>
		<string>h.ss08</string>
		<string>h.1</string>
		<string>h.5</string>
		<string>h.9</string>
		<string>h.6</string>
		<string>h.1.short</string>
		<string>h.3</string>
		<string>k</string>
		<string>k.3</string>
		<string>k.9</string>
		<string>k.1</string>
		<string>k.2</string>
		<string>k.swsh</string>
		<string>k.2.short</string>
	</array>
	<key>public.kern2.oporizq</key>
	<array>
		<string>a</string>
		<string>a.1</string>
		<string>a.55</string>
		<string>a.66</string>
		<string>a.999</string>
		<string>a.9999</string>
		<string>c</string>
		<string>c.ss06</string>
		<string>c.9</string>
		<string>d</string>
		<string>d.5</string>
		<string>d.9</string>
		<string>d.6</string>
		<string>e</string>
		<string>e.ss06</string>
		<string>e.9</string>
		<string>g.1</string>
		<string>g.short</string>
		<string>g.3</string>
		<string>o</string>
		<string>o.5</string>
		<string>o.9</string>
		<string>o.swsh</string>
		<string>q</string>
		<string>q.9</string>
		<string>o_f</string>
		<string>o_f_f</string>
		<string>eacute</string>
		<string>oacute</string>
		<string>edieresis</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>egrave</string>
		<string>otilde</string>
		<string>ecircumflex</string>
		<string>ocircumflex</string>
		<string>oslash</string>
		<string>ccedilla</string>
		<string>oe</string>
		<string>eth</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ecaron</string>
		<string>ohorn</string>
		<string>dong</string>
		<string>edotaccent</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>e_s</string>
		<string>e_s_t</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>abreve</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>public.kern2.s1</key>
	<array>
		<string>s</string>
		<string>s_t</string>
		<string>scaron</string>
		<string>sacute</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
	</array>
</dict>
</plist>
