<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>12538090-4C57-4FAF-B923-C9DF6C947DDF</key>
			<dict>
				<key>HH</key>
				<integer>4</integer>
				<key>HV</key>
				<integer>9</integer>
				<key>OH</key>
				<integer>9</integer>
				<key>OV</key>
				<integer>13</integer>
				<key>oH</key>
				<integer>5</integer>
				<key>oV</key>
				<integer>14</integer>
				<key>tH</key>
				<integer>4</integer>
			</dict>
			<key>16A2D4D5-7122-496F-87E2-41E3467D9F6F</key>
			<dict>
				<key>HH</key>
				<integer>4</integer>
				<key>HV</key>
				<integer>9</integer>
				<key>OH</key>
				<integer>9</integer>
				<key>OV</key>
				<integer>13</integer>
				<key>oH</key>
				<integer>5</integer>
				<key>oV</key>
				<integer>14</integer>
				<key>tH</key>
				<integer>4</integer>
			</dict>
			<key>71F17050-D056-48DB-A6EA-6AFC75FA62B4</key>
			<dict>
				<key>HH</key>
				<integer>4</integer>
				<key>HV</key>
				<integer>9</integer>
				<key>OH</key>
				<integer>9</integer>
				<key>OV</key>
				<integer>13</integer>
				<key>oH</key>
				<integer>5</integer>
				<key>oV</key>
				<integer>14</integer>
				<key>tH</key>
				<integer>4</integer>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>subscriptXOffset</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>subscriptXSize</string>
			<key>value</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>subscriptYOffset</string>
			<key>value</key>
			<integer>140</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>subscriptYSize</string>
			<key>value</key>
			<integer>650</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptXOffset</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptXSize</string>
			<key>value</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptYOffset</string>
			<key>value</key>
			<integer>477</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptYSize</string>
			<key>value</key>
			<integer>650</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Axis Location</string>
			<key>value</key>
			<array>
				<dict>
					<key>Axis</key>
					<string>Optical Size</string>
					<key>Location</key>
					<integer>128</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>TTFZones</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>T1</string>
					<key>pos</key>
					<real>565.0</real>
					<key>size</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>name</key>
					<string>base</string>
					<key>pos</key>
					<real>0.0</real>
					<key>size</key>
					<real>0.0</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Alignment Zones</string>
			<key>value</key>
			<array>
				<dict>
					<key>pos</key>
					<real>565.0</real>
					<key>size</key>
					<real>0.0</real>
				</dict>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>16A2D4D5-7122-496F-87E2-41E3467D9F6F</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>a</string>
		<string>a.999</string>
		<string>a.999.1</string>
		<string>a.5</string>
		<string>a.55</string>
		<string>a.555</string>
		<string>a.9</string>
		<string>b</string>
		<string>b.baja</string>
		<string>b.7</string>
		<string>b.7.baja</string>
		<string>c</string>
		<string>c.5</string>
		<string>c.9</string>
		<string>d</string>
		<string>d.baja</string>
		<string>d.999</string>
		<string>d.5</string>
		<string>d.9</string>
		<string>d.55</string>
		<string>d.99</string>
		<string>d.9.7</string>
		<string>e</string>
		<string>e.1</string>
		<string>e.2</string>
		<string>e.5</string>
		<string>e.9</string>
		<string>f</string>
		<string>f.ss16</string>
		<string>f.baja</string>
		<string>f.7</string>
		<string>f.7.baja</string>
		<string>f.66</string>
		<string>f.6.7</string>
		<string>f.6</string>
		<string>f.999</string>
		<string>f.123</string>
		<string>g</string>
		<string>g.baja</string>
		<string>g.9999</string>
		<string>g.7.baja</string>
		<string>g.999</string>
		<string>g.7</string>
		<string>h</string>
		<string>h.init</string>
		<string>h.3</string>
		<string>h.6</string>
		<string>h.baja</string>
		<string>h.7</string>
		<string>h.99</string>
		<string>h.77</string>
		<string>h.7.baja</string>
		<string>h.6.9</string>
		<string>h.9</string>
		<string>h.55</string>
		<string>h.77.baja</string>
		<string>h.77.baja.6</string>
		<string>h.77.6</string>
		<string>i</string>
		<string>i.55</string>
		<string>i.9</string>
		<string>j</string>
		<string>j.baja</string>
		<string>j.999</string>
		<string>k</string>
		<string>k.init</string>
		<string>k.baja</string>
		<string>k.6</string>
		<string>k.7</string>
		<string>k.7.baja</string>
		<string>k.3</string>
		<string>k.9</string>
		<string>k.9.7</string>
		<string>l</string>
		<string>l.baja</string>
		<string>l.5</string>
		<string>l.44</string>
		<string>l.444</string>
		<string>l.7</string>
		<string>l.7.baja</string>
		<string>l.55</string>
		<string>l.9</string>
		<string>l.55.7</string>
		<string>l.9.7</string>
		<string>m</string>
		<string>m.55</string>
		<string>m.9</string>
		<string>m.99</string>
		<string>n</string>
		<string>n.55</string>
		<string>n.7</string>
		<string>n.777</string>
		<string>n.9</string>
		<string>n.99</string>
		<string>o</string>
		<string>o.2</string>
		<string>o.22</string>
		<string>o.222</string>
		<string>o.5</string>
		<string>o.9</string>
		<string>o.999</string>
		<string>o.9999</string>
		<string>p</string>
		<string>p.baja</string>
		<string>p.9</string>
		<string>q</string>
		<string>q.baja</string>
		<string>r</string>
		<string>r.baja</string>
		<string>r.1</string>
		<string>r.3</string>
		<string>r.33</string>
		<string>r.7</string>
		<string>r.9</string>
		<string>r.55</string>
		<string>r.99</string>
		<string>s</string>
		<string>s.salt</string>
		<string>s.3</string>
		<string>s.s</string>
		<string>s.3.7</string>
		<string>s.999</string>
		<string>s.9999</string>
		<string>s.9</string>
		<string>t</string>
		<string>t.5</string>
		<string>t.7</string>
		<string>t.77</string>
		<string>t.9</string>
		<string>u</string>
		<string>u.5</string>
		<string>u.55</string>
		<string>u.9</string>
		<string>v</string>
		<string>v.7</string>
		<string>w</string>
		<string>w.7</string>
		<string>x</string>
		<string>x.9</string>
		<string>y</string>
		<string>y.baja</string>
		<string>y.7</string>
		<string>y.7.baja</string>
		<string>y.999</string>
		<string>y.3</string>
		<string>z</string>
		<string>z.9</string>
		<string>space</string>
		<string>A</string>
		<string>A.002</string>
		<string>A.001</string>
		<string>A.big</string>
		<string>B</string>
		<string>B.big</string>
		<string>B.001</string>
		<string>C</string>
		<string>C.big</string>
		<string>C.ss10</string>
		<string>D</string>
		<string>D.big</string>
		<string>D.001</string>
		<string>E</string>
		<string>E.big</string>
		<string>F</string>
		<string>F.big</string>
		<string>F.short</string>
		<string>G</string>
		<string>G.big</string>
		<string>H</string>
		<string>H.big</string>
		<string>I</string>
		<string>I.big</string>
		<string>J</string>
		<string>J.big</string>
		<string>K</string>
		<string>K.big</string>
		<string>L</string>
		<string>L.big</string>
		<string>L.short</string>
		<string>L.7</string>
		<string>M</string>
		<string>M.big</string>
		<string>N</string>
		<string>N.big</string>
		<string>O</string>
		<string>O.big</string>
		<string>P</string>
		<string>P.big</string>
		<string>P.7</string>
		<string>P.001</string>
		<string>Q</string>
		<string>Q.big</string>
		<string>R</string>
		<string>R.big</string>
		<string>R.001</string>
		<string>S</string>
		<string>S.big</string>
		<string>S.001</string>
		<string>T</string>
		<string>T.big</string>
		<string>T.short</string>
		<string>T_h</string>
		<string>U</string>
		<string>U.big</string>
		<string>U.short</string>
		<string>V</string>
		<string>V.big</string>
		<string>W</string>
		<string>W.big</string>
		<string>W.h</string>
		<string>X</string>
		<string>Y</string>
		<string>Y.big</string>
		<string>Z</string>
		<string>Z.big</string>
		<string>floralheart</string>
		<string>f_f</string>
		<string>f_t</string>
		<string>o_v</string>
		<string>o_n</string>
		<string>o_m</string>
		<string>o_n.9</string>
		<string>o_m.9</string>
		<string>o_r.9</string>
		<string>o_r.001</string>
		<string>o_r</string>
		<string>o_v.7</string>
		<string>o_w.7</string>
		<string>g_h</string>
		<string>y_f</string>
		<string>o_y</string>
		<string>t_i</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>ampersand</string>
		<string>ampersand.1</string>
		<string>logo</string>
		<string>orn.1</string>
		<string>orn.2</string>
		<string>acute</string>
		<string>aacute</string>
		<string>period</string>
		<string>eacute</string>
		<string>init.init</string>
		<string>init</string>
		<string>Aacute</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>Oacute</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>orn.0</string>
		<string>question</string>
		<string>questiondown</string>
		<string>exclam</string>
		<string>dollar</string>
		<string>slash</string>
		<string>fraction</string>
		<string>percent</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>grave</string>
		<string>comma</string>
		<string>dotaccent</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>florin</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>dieresis</string>
		<string>odieresis</string>
		<string>perthousand</string>
		<string>oslash</string>
		<string>igrave</string>
		<string>idieresis</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Edieresis</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Udieresis</string>
		<string>Agrave</string>
		<string>tilde</string>
		<string>ntilde</string>
		<string>otilde</string>
		<string>atilde</string>
		<string>Ntilde</string>
		<string>ydieresis</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Idieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Ydieresis</string>
		<string>Euro</string>
		<string>Yacute</string>
		<string>fi</string>
		<string>fl</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>exclamdown</string>
		<string>Eth</string>
		<string>Lslash</string>
		<string>circumflex</string>
		<string>acircumflex</string>
		<string>Ocircumflex</string>
		<string>Icircumflex</string>
		<string>Acircumflex</string>
		<string>Ecircumflex</string>
		<string>Ucircumflex</string>
		<string>ecircumflex</string>
		<string>ocircumflex</string>
		<string>ucircumflex</string>
		<string>Oslash</string>
		<string>icircumflex</string>
		<string>sterling</string>
		<string>thorn</string>
		<string>Thorn</string>
		<string>oe</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>lslash</string>
		<string>periodcentered</string>
		<string>caron</string>
		<string>scaron</string>
		<string>Scaron</string>
		<string>section</string>
		<string>eth</string>
		<string>ccedilla</string>
		<string>cedilla</string>
		<string>Ccedilla</string>
		<string>at</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>aring</string>
		<string>ring</string>
		<string>Aring</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>currency</string>
		<string>yen</string>
		<string>paragraph</string>
		<string>mu</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>AE</string>
		<string>breve</string>
		<string>minus</string>
		<string>ogonek</string>
		<string>hungarumlaut</string>
		<string>aogonek</string>
		<string>scommaaccent</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>zdotaccent</string>
		<string>Racute</string>
		<string>Abreve</string>
		<string>Lacute</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ohungarumlaut</string>
		<string>Rcaron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Tcommaaccent</string>
		<string>tcaron</string>
		<string>Zdotaccent</string>
		<string>Scommaaccent</string>
		<string>Aogonek</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>dcaron</string>
		<string>abreve</string>
		<string>racute</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>lacute</string>
		<string>dcroat</string>
		<string>ohungarumlaut</string>
		<string>rcaron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>tcommaaccent</string>
		<string>Sacute</string>
		<string>Tcaron</string>
		<string>Zacute</string>
		<string>sacute</string>
		<string>zacute</string>
		<string>equal</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>plusminus</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>brokenbar</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>bar</string>
		<string>bullet</string>
		<string>trademark</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>copyright</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>degree</string>
		<string>multiply</string>
		<string>divide</string>
		<string>plus</string>
		<string>greater</string>
		<string>less</string>
		<string>Rcommaaccent</string>
		<string>backslash</string>
		<string>rcommaaccent</string>
		<string>Iogonek</string>
		<string>macron</string>
		<string>Amacron</string>
		<string>Emacron</string>
		<string>Gcommaaccent</string>
		<string>Kcommaaccent</string>
		<string>Lcommaaccent</string>
		<string>Ncommaaccent</string>
		<string>Imacron</string>
		<string>Omacron</string>
		<string>Uogonek</string>
		<string>Umacron</string>
		<string>iogonek</string>
		<string>amacron</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>kcommaaccent</string>
		<string>imacron</string>
		<string>lcommaaccent</string>
		<string>ncommaaccent</string>
		<string>omacron</string>
		<string>uogonek</string>
		<string>umacron</string>
		<string>gcommaaccent</string>
		<string>underscore</string>
		<string>cent</string>
		<string>Idotaccent</string>
		<string>Scedilla</string>
		<string>Gbreve</string>
		<string>scedilla</string>
		<string>ordmasculine</string>
		<string>gbreve</string>
		<string>ordfeminine</string>
		<string>OE</string>
		<string>gravecomb</string>
		<string>hookabovecomb</string>
		<string>Ohorn</string>
		<string>Uhorn</string>
		<string>tildecomb</string>
		<string>acutecomb</string>
		<string>dotbelowcomb</string>
		<string>ohorn</string>
		<string>uhorn</string>
		<string>dong</string>
		<string>Edotaccent</string>
	</array>
	<key>com.schriftgestaltung.gridSize</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.master.name</key>
	<string>Big</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>144</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>a</string>
		<string>a.999</string>
		<string>a.999.1</string>
		<string>a.5</string>
		<string>a.55</string>
		<string>a.555</string>
		<string>a.9</string>
		<string>b</string>
		<string>b.baja</string>
		<string>b.7</string>
		<string>b.7.baja</string>
		<string>c</string>
		<string>c.5</string>
		<string>c.9</string>
		<string>d</string>
		<string>d.baja</string>
		<string>d.999</string>
		<string>d.5</string>
		<string>d.9</string>
		<string>d.55</string>
		<string>d.99</string>
		<string>d.9.7</string>
		<string>e</string>
		<string>e.1</string>
		<string>e.2</string>
		<string>e.5</string>
		<string>e.9</string>
		<string>f</string>
		<string>f.ss16</string>
		<string>f.baja</string>
		<string>f.7</string>
		<string>f.7.baja</string>
		<string>f.66</string>
		<string>f.6.7</string>
		<string>f.6</string>
		<string>f.999</string>
		<string>f.123</string>
		<string>g</string>
		<string>g.baja</string>
		<string>g.9999</string>
		<string>g.7.baja</string>
		<string>g.999</string>
		<string>g.7</string>
		<string>h</string>
		<string>h.init</string>
		<string>h.3</string>
		<string>h.6</string>
		<string>h.baja</string>
		<string>h.7</string>
		<string>h.99</string>
		<string>h.77</string>
		<string>h.7.baja</string>
		<string>h.6.9</string>
		<string>h.9</string>
		<string>h.55</string>
		<string>h.77.baja</string>
		<string>h.77.baja.6</string>
		<string>h.77.6</string>
		<string>i</string>
		<string>i.55</string>
		<string>i.9</string>
		<string>j</string>
		<string>j.baja</string>
		<string>j.999</string>
		<string>k</string>
		<string>k.init</string>
		<string>k.baja</string>
		<string>k.6</string>
		<string>k.7</string>
		<string>k.7.baja</string>
		<string>k.3</string>
		<string>k.9</string>
		<string>k.9.7</string>
		<string>l</string>
		<string>l.baja</string>
		<string>l.5</string>
		<string>l.44</string>
		<string>l.444</string>
		<string>l.7</string>
		<string>l.7.baja</string>
		<string>l.55</string>
		<string>l.9</string>
		<string>l.55.7</string>
		<string>l.9.7</string>
		<string>m</string>
		<string>m.55</string>
		<string>m.9</string>
		<string>m.99</string>
		<string>n</string>
		<string>n.55</string>
		<string>n.7</string>
		<string>n.777</string>
		<string>n.9</string>
		<string>n.99</string>
		<string>o</string>
		<string>o.2</string>
		<string>o.22</string>
		<string>o.222</string>
		<string>o.5</string>
		<string>o.9</string>
		<string>o.999</string>
		<string>o.9999</string>
		<string>p</string>
		<string>p.baja</string>
		<string>p.9</string>
		<string>q</string>
		<string>q.baja</string>
		<string>r</string>
		<string>r.baja</string>
		<string>r.1</string>
		<string>r.3</string>
		<string>r.33</string>
		<string>r.7</string>
		<string>r.9</string>
		<string>r.55</string>
		<string>r.99</string>
		<string>s</string>
		<string>s.salt</string>
		<string>s.3</string>
		<string>s.s</string>
		<string>s.3.7</string>
		<string>s.999</string>
		<string>s.9999</string>
		<string>s.9</string>
		<string>t</string>
		<string>t.5</string>
		<string>t.7</string>
		<string>t.77</string>
		<string>t.9</string>
		<string>u</string>
		<string>u.5</string>
		<string>u.55</string>
		<string>u.9</string>
		<string>v</string>
		<string>v.7</string>
		<string>w</string>
		<string>w.7</string>
		<string>x</string>
		<string>x.9</string>
		<string>y</string>
		<string>y.baja</string>
		<string>y.7</string>
		<string>y.7.baja</string>
		<string>y.999</string>
		<string>y.3</string>
		<string>z</string>
		<string>z.9</string>
		<string>space</string>
		<string>A</string>
		<string>A.002</string>
		<string>A.001</string>
		<string>A.big</string>
		<string>B</string>
		<string>B.big</string>
		<string>B.001</string>
		<string>C</string>
		<string>C.big</string>
		<string>C.ss10</string>
		<string>D</string>
		<string>D.big</string>
		<string>D.001</string>
		<string>E</string>
		<string>E.big</string>
		<string>F</string>
		<string>F.big</string>
		<string>F.short</string>
		<string>G</string>
		<string>G.big</string>
		<string>H</string>
		<string>H.big</string>
		<string>I</string>
		<string>I.big</string>
		<string>J</string>
		<string>J.big</string>
		<string>K</string>
		<string>K.big</string>
		<string>L</string>
		<string>L.big</string>
		<string>L.short</string>
		<string>L.7</string>
		<string>M</string>
		<string>M.big</string>
		<string>N</string>
		<string>N.big</string>
		<string>O</string>
		<string>O.big</string>
		<string>P</string>
		<string>P.big</string>
		<string>P.7</string>
		<string>P.001</string>
		<string>Q</string>
		<string>Q.big</string>
		<string>R</string>
		<string>R.big</string>
		<string>R.001</string>
		<string>S</string>
		<string>S.big</string>
		<string>S.001</string>
		<string>T</string>
		<string>T.big</string>
		<string>T.short</string>
		<string>T_h</string>
		<string>U</string>
		<string>U.big</string>
		<string>U.short</string>
		<string>V</string>
		<string>V.big</string>
		<string>W</string>
		<string>W.big</string>
		<string>W.h</string>
		<string>X</string>
		<string>Y</string>
		<string>Y.big</string>
		<string>Z</string>
		<string>Z.big</string>
		<string>floralheart</string>
		<string>f_f</string>
		<string>f_t</string>
		<string>o_v</string>
		<string>o_n</string>
		<string>o_m</string>
		<string>o_n.9</string>
		<string>o_m.9</string>
		<string>o_r.9</string>
		<string>o_r.001</string>
		<string>o_r</string>
		<string>o_v.7</string>
		<string>o_w.7</string>
		<string>g_h</string>
		<string>y_f</string>
		<string>o_y</string>
		<string>t_i</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>ampersand</string>
		<string>ampersand.1</string>
		<string>logo</string>
		<string>orn.1</string>
		<string>orn.2</string>
		<string>acute</string>
		<string>aacute</string>
		<string>period</string>
		<string>eacute</string>
		<string>init.init</string>
		<string>init</string>
		<string>Aacute</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>Oacute</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>orn.0</string>
		<string>question</string>
		<string>questiondown</string>
		<string>exclam</string>
		<string>dollar</string>
		<string>slash</string>
		<string>fraction</string>
		<string>percent</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>grave</string>
		<string>comma</string>
		<string>dotaccent</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>florin</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>dieresis</string>
		<string>odieresis</string>
		<string>perthousand</string>
		<string>oslash</string>
		<string>igrave</string>
		<string>idieresis</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Edieresis</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Udieresis</string>
		<string>Agrave</string>
		<string>tilde</string>
		<string>ntilde</string>
		<string>otilde</string>
		<string>atilde</string>
		<string>Ntilde</string>
		<string>ydieresis</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Idieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Ydieresis</string>
		<string>Euro</string>
		<string>Yacute</string>
		<string>fi</string>
		<string>fl</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>exclamdown</string>
		<string>Eth</string>
		<string>Lslash</string>
		<string>circumflex</string>
		<string>acircumflex</string>
		<string>Ocircumflex</string>
		<string>Icircumflex</string>
		<string>Acircumflex</string>
		<string>Ecircumflex</string>
		<string>Ucircumflex</string>
		<string>ecircumflex</string>
		<string>ocircumflex</string>
		<string>ucircumflex</string>
		<string>Oslash</string>
		<string>icircumflex</string>
		<string>sterling</string>
		<string>thorn</string>
		<string>Thorn</string>
		<string>oe</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>lslash</string>
		<string>periodcentered</string>
		<string>caron</string>
		<string>scaron</string>
		<string>Scaron</string>
		<string>section</string>
		<string>eth</string>
		<string>ccedilla</string>
		<string>cedilla</string>
		<string>Ccedilla</string>
		<string>at</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>aring</string>
		<string>ring</string>
		<string>Aring</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>currency</string>
		<string>yen</string>
		<string>paragraph</string>
		<string>mu</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>AE</string>
		<string>breve</string>
		<string>minus</string>
		<string>ogonek</string>
		<string>hungarumlaut</string>
		<string>aogonek</string>
		<string>scommaaccent</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>zdotaccent</string>
		<string>Racute</string>
		<string>Abreve</string>
		<string>Lacute</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ohungarumlaut</string>
		<string>Rcaron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Tcommaaccent</string>
		<string>tcaron</string>
		<string>Zdotaccent</string>
		<string>Scommaaccent</string>
		<string>Aogonek</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>dcaron</string>
		<string>abreve</string>
		<string>racute</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>lacute</string>
		<string>dcroat</string>
		<string>ohungarumlaut</string>
		<string>rcaron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>tcommaaccent</string>
		<string>Sacute</string>
		<string>Tcaron</string>
		<string>Zacute</string>
		<string>sacute</string>
		<string>zacute</string>
		<string>equal</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>plusminus</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>brokenbar</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>bar</string>
		<string>bullet</string>
		<string>trademark</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>copyright</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>degree</string>
		<string>multiply</string>
		<string>divide</string>
		<string>plus</string>
		<string>greater</string>
		<string>less</string>
		<string>Rcommaaccent</string>
		<string>backslash</string>
		<string>rcommaaccent</string>
		<string>Iogonek</string>
		<string>macron</string>
		<string>Amacron</string>
		<string>Emacron</string>
		<string>Gcommaaccent</string>
		<string>Kcommaaccent</string>
		<string>Lcommaaccent</string>
		<string>Ncommaaccent</string>
		<string>Imacron</string>
		<string>Omacron</string>
		<string>Uogonek</string>
		<string>Umacron</string>
		<string>iogonek</string>
		<string>amacron</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>kcommaaccent</string>
		<string>imacron</string>
		<string>lcommaaccent</string>
		<string>ncommaaccent</string>
		<string>omacron</string>
		<string>uogonek</string>
		<string>umacron</string>
		<string>gcommaaccent</string>
		<string>underscore</string>
		<string>cent</string>
		<string>Idotaccent</string>
		<string>Scedilla</string>
		<string>Gbreve</string>
		<string>scedilla</string>
		<string>ordmasculine</string>
		<string>gbreve</string>
		<string>ordfeminine</string>
		<string>OE</string>
		<string>gravecomb</string>
		<string>hookabovecomb</string>
		<string>Ohorn</string>
		<string>Uhorn</string>
		<string>tildecomb</string>
		<string>acutecomb</string>
		<string>dotbelowcomb</string>
		<string>ohorn</string>
		<string>uhorn</string>
		<string>dong</string>
		<string>Edotaccent</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>Gcommaaccent</key>
		<string>uni0122</string>
		<key>Kcommaaccent</key>
		<string>uni0136</string>
		<key>Lcommaaccent</key>
		<string>uni013B</string>
		<key>Ncommaaccent</key>
		<string>uni0145</string>
		<key>Rcommaaccent</key>
		<string>uni0156</string>
		<key>Scommaaccent</key>
		<string>uni0218</string>
		<key>Tcommaaccent</key>
		<string>uni0162</string>
		<key>floralheart</key>
		<string>uni2766</string>
		<key>gcommaaccent</key>
		<string>uni0123</string>
		<key>kcommaaccent</key>
		<string>uni0137</string>
		<key>lcommaaccent</key>
		<string>uni013C</string>
		<key>mu</key>
		<string>uni00B5</string>
		<key>ncommaaccent</key>
		<string>uni0146</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>rcommaaccent</key>
		<string>uni0157</string>
		<key>scommaaccent</key>
		<string>uni0219</string>
		<key>tcommaaccent</key>
		<string>uni0163</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
	</dict>
</dict>
</plist>
