<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>L</key>
    <dict>
      <key>i</key>
      <integer>77</integer>
      <key>o_v.7</key>
      <integer>66</integer>
    </dict>
    <key>L.big</key>
    <dict>
      <key>o_v.7</key>
      <integer>40</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>a</key>
      <integer>-43</integer>
    </dict>
  </dict>
</plist>
